{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <div class="container mt-1" >
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group" style="border-right: 1px solid #c8cbcf">
                <legend class="border-bottom mb-4">New Post</legend>
                {{ form.media }}
                {{form.as_p}}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="margin-top: -5px;">create</button>
            </div>
        </form>
    </div>
    {% endblock %}