{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    {% for post in posts %}
        <section>
            <div class="my-3 p-3 bg-white rounded box-shadow" >
                <img class="rounded-circle article-img" style="width: 5%;" src="{{ post.author.profile.image.url}}">
                <h2 class="blog-post-title"><a class="ml-2" style="text-decoration: none; font-size: 22px;" href="{% url 'post-detail' pk=post.pk %}">{{post.title}}</a></h2>
                <p style="font: -apple-system-short-caption1">{{ post.content|truncatewords:"50" }}</p>
                <p class="blog-post-meta" style="color: #5a6268;"> posted by <a href="{% url 'user-posts' post.author.username %}" style="text-decoration: none;">{{ post.author}}</a></p>
                <big class="blog-post-meta" style="margin-right: 3px;">{{post.number_of_thumbs_up}} like{{ post.number_of_thumbs_up|pluralize }}</big>
                {{ comment_count }}
                {% if not request.user in post.user_thumbs_up.all %}
                    <a href="{% url 'thumbs-up' pk=post.pk%}"><img src="{% static 'css/thumb-up.svg' %}" style="width: 20px; margin-top: 5px;"></a>
                {% else %}
                    <a href="{% url 'remove-thumbs-up' pk=post.pk%}"><img src="{% static 'css/thumb-down.svg' %}" style="width: 20px; color: #004085;"></a>
                {% endif %}
            </div>
        </section>
    {%endfor%}
{% endblock %}