{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <div class="container mt-1" >
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group" style="border-right: 1px solid #c8cbcf">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{form.as_p}}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="margin: -25px 0 0 40px;">Request Password Reset</button>
            </div>
        </form>
    </div>
    {% endblock %}